*   {
    font-family: 'Overpass', sans-serif;
}
body    {
    width: 1440px;
    background-color: hsl(216, 12%, 8%);
}
#submit-card-body  {
    width: 400px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 10%;
    margin-top: 200px;
    margin-left: 500px;
    padding: 20px;
    /* background: linear-gradient(0deg, hsl(216, 12%, 8%)  0%, hsl(213, 19%, 18%) 100%) */
}
#thanks-card-body   {
    width: 400px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 10%;
    margin-top: 200px;
    margin-left: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1  {
    color: hsl(0, 0%, 100%);
    margin: 10px;
}
.how-did-we  {
    color: hsl(217, 12%, 63%);
    margin: 10px;
    font-size: 15px;
}
.number-circle  {
    color: hsl(217, 12%, 63%);
    background-color: hsl(214, 23%, 22%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    flex-direction: column;
}
.number-circle:hover    {
    color: hsl(0, 0%, 100%);
    background-color: hsl(216, 12%, 54%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    flex-direction: column;
}
.number-circle:active   {
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    display: flex;
}
.number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px
}
#rating {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
button  {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    width: 350px;
    height: 50px;
    border-radius: 30px;
    margin: 20px;
}
button:hover    {
    background-color: hsl(0, 0%, 100%);
    color:hsl(25, 97%, 53%);
    width: 350px;
    height: 50px;
    border-radius: 30px;
    margin: 20px;
}
#star-icon  {
    margin: 20px;
    background-color: hsl(214, 23%, 22%);
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#not-button {
    width: 250px;
    height: 40px;
    border-radius: 30px;
    background-color: hsl(214, 23%, 22%);
    color:hsl(25, 97%, 53%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#selection  {
    color:hsl(25, 97%, 53%);
    margin: 5px;
}

