*   {
    font-family: 'Overpass', sans-serif;
}
body    {
    width: 1440px;
    background-color: hsl(216, 12%, 8%);
}
#card-body  {
    width: 400px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 10%;
    margin: 200px;
    padding: 20px;
}
h1  {
    color: hsl(0, 0%, 100%);
    margin: 10px;
}
p  {
    color: hsl(217, 12%, 63%);
    margin: 10px;
    font-size: 15px;
}
.number-circle  {
    color: hsl(217, 12%, 63%);
    background-color: hsl(214, 23%, 22%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    flex-direction: column;
}
.number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#rating {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
button  {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    width: 350px;
    height: 50px;
    border-radius: 30px;
    margin: 20px;
}
#star-icon  {
    margin: 20px;
    background-color: hsl(214, 23%, 22%);
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}